<!DOCTYPE html>
<html>
<%include head%>
<body>

    <%include navbar%>

    <div class="container">
        <div class="row header">
            <div class="text-danger col-sm-12 text-center">
                <h1><%=movieData.title%></h1>
            </div>
        </div>
        <div class="row movies">
            <!-- <div class="col-sm-6 col-sm-offset-3">
                <form id="search-form" class="form-inline" action="/search" method="post">
                    <input type="text" placeholder="Movie Title" name="searchString">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div> -->
            <div class="col-sm-12 movie text-center">
                <img src="<%= imageBaseUrl + movieData.poster_path %>">
                <div class="col-sm-10 text text-center col-sm-offset-1">
                    <p><%= movieData.overview%></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>